name: docker-compose-actions-workflow
on: 

    push:
        branches:
        - 'main'
        
    workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Step 1 - Run Docker
        run: docker-compose up
      - name: Step 2 - Attach Report
        uses: actions/upload-artifact@v2
        with:
          name: Report
          path: ./src/reports/report.html

